{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Food Name</th>
        <th scope="col">Price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ item.food_name }}</td>
          <td>{{ item.price }}</td>
          <td>
            <form method="post" action="{% url 'remove_from_cart' item.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Remove from Cart</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
